@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #93cb52;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #93cb52;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #7ab436;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

.main-color {
  color: #007bff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.t-large {
  font-size: 1.1rem;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #11163f;
  opacity: 0.8;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #021a39;
  padding: 0.75rem;
  /* margin: 0 0.25rem; */
}

#navbar ul li a:hover {
  background: #fff;
  color: #021a39 !important;
  border-radius: 2px;
}

.nav-color {
  background-color: #07091e !important;
  padding: 10px !important;
  z-index: 99;
}

.brand-logo {
  width: 100px;
}
/* Showcase */
#showcase {
  background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.showcase-text {
  font-size: 6rem;
}

/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #021a39;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  color: #fff;
}

/* Section: Who We Are */
#who {
  display: flex;
}

#who div {
  flex: 1;
}

#who .who-img {
  background: url("../img/people.jpg") no-repeat center center/cover;
}

/* Section: Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  /* padding: 60px 0; */
  background: #f8f9fa;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  /* text-transform: uppercase; */
}

#team .card {
  border: none;
  background: #ffffff;
}

/* .image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
} */

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

/* .backside .card a {
  font-size: 18px;
  color: #007b5e !important;
} */

/* .frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
} */

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* Section: Contact */
/* #contact {
  display: flex;
}

#contact .map,
#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
} */
.container0 {
  min-height: 100vh;
  width: 100%;
  background: #03316d;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 300px; */
}
.container1 {
  width: 80%;
  background: #fff;
  border-radius: 6px;
  padding: 30px 60px 40px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container1 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container1 .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.container1 .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #03316d;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
  margin-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #021a39;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button input[type="button"]:hover {
  background: #07386d;
}

/* Footer */
footer {
  background-color: #021a39;
  color: #fff;
}
@media (max-width: 950px) {
  .container1 {
    width: 90%;
    padding: 30px 35px 40px 35px;
  }
}
@media (max-width: 856px) {
  .container1 {
    margin: 40px 0;
    height: 100%;
  }
  .container1 .content {
    flex-direction: column-reverse;
  }
  .container1 .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container1 .content .left-side::before {
    display: none;
  }
  .container1 .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
footer {
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content a {
  color: #fff;
}
footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p {
  text-align: justify;
}
footer .content .lower i {
  margin-right: 66px;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}
footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  background: #eb2f06;
  color: #d9d9d9;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
footer .content .right input[type="submit"]:hover {
  background: none;
  color: #eb2f06;
}
footer .content .media-icons a {
  font-size: 3rem;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
  /* border: 2px solid #222222; */
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
footer .content .media-icons a:hover {
  border: #eb2f06;
}
footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a {
  color: #eb2f06;
}
footer a {
  transition: all 0.3 ease;
}
footer a:hover {
  color: #eb2f06;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
  footer .content .media-icons a {
    width: 40px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
  footer .content .media-icons a {
    font-size: 2rem;
    width: 30px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
  footer .content .media-icons {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .content .media-icons a {
    font-size: 2rem;
  }
}
